<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is my first ruby on rails web page !!!</p>
  <hr class="my-4">
  <p>Pretty Cool.. :) :)</p>
  <%= link_to 'Learn More', home_about_path, class: "btn btn-primary btn-lg" %>
</div>
